[user]
	name = Eduardo Vedes
	email = eduardo.vedes@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFkFa+QwtOjw7Hp0AHJs8hqBO1fvfD1XBeyQxcsn4UvV
[hub]
  protocol = ssh
[github]
	user = evedes
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	ignorecase = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[alias]
	fixup = !git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup
	gll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[gpg "ssh"]
	program = ssh-keygen
