[Desktop Entry]
Name=Pictures
Comment=Open the Pictures folder in Nautilus
Exec=nautilus --new-window /home/edo/Pictures
Icon=folder-pictures
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=org.gnome.Nautilus
Categories=System;FileManager;FileTools;
Keywords=files;folder;images;photos;
