themes {
    kanagawa_dragon {
        fg "#C8C093"
        bg "#181616"
        black "#282727"
        red "#c4746e"
        green "#8a9a7b"
        yellow "#c4b28a"
        blue "#8ba4b0"
        magenta "#a292a3"
        cyan "#8ea4a2"
        white "#C8C093"
        orange "#FFA066"
    }
}
